.App {
  text-align: center;
}

.title {
  text-align: center;
  font-size: 1em;
}

.title1 {
  text-align: center;
  font-size: 1.5em
  /* add other properties as needed */
}

.text {
  text-align: center;
  /* add other properties as needed */
}

.button-container {
  display: flex;
  justify-content: center;
}

.App .btn {
  font-size: 3em; /* This will make the button text 1.5 times larger */
  padding: 20px 40px; /* This will increase the size of the button */
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
